<% provide(:title, 'Sign up') %>
<h1 class = "text-center">Sign up</h1>

<!--Rails Forms-->

<section>
	<div class = "row">
		<div class = "large-4 medium-6 small-centered columns">
			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name, class: "error" %>
			<small class="error">Invalid entry</small>

			<%= f.label :email %>
			<%= f.email_field :email, class: "error" %>
			<small class="error">Invalid entry</small>

			<%= f.label :password %>
			<%= f.password_field :password, class: "error" %>
			<small class="error">Invalid entry</small>

			<%= f.label :password_confirmation, "Confirmation", class: "error" %>
			<%= f.password_field :password_confirmation  %>
			<small class="error">Invalid entry</small>


			<%= f.submit "Create my account", class: "button expand success radius" %>
			<% end %>
		</div>
	</div>
</section>


